body {
    margin: 0;


    /* Any browser which supports CSS3*/
    /* filter: blur(10px); */

    /* Firefox version 34 and earlier */
    /* filter: url("blur.svg#gaussian_blur"); */

    /* Webkit in Chrome 52, Safari 9, Opera 39, and earlier */
    /* -webkit-filter: blur(10px);  */
}

#mainContent {
    /* Any browser which supports CSS3 */
    filter: blur(10px);
    filter: url("blur.svg#gaussian_blur");
    -webkit-filter: blur(10px);
}

ul {
    /*Removes the bullet points from the list*/
    list-style: none;
}

/* CSS for the menu and instructions */
#menu {
    display: flex;
    justify-content: center;

    border: 0;
    padding: 0;
    margin: 0;

    position: absolute;
    width: 100%;
    height: 100%;

    /*Removes the cursos/makes the text unselectable*/
    user-select: none;


    /* Any browser which supports CSS3 */
    filter: blur(0px);

    /* Firefox version 34 and earlier */
     filter: url("blur.svg#gaussian_blur");

    /* Webkit in Chrome 52, Safari 9, Opera 39, and earlier */
    -webkit-filter: blur(0px);

}

#instructions {

    width: 100%;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;

    color: #ffffff;
    text-align: center;

    text-shadow: 1px 1px #000;

    /*Removes the cursor/makes the text unselectable*/
    user-select: none;


    /* Any browser which supports CSS3 */
    filter: blur(0px);

    /* Firefox version 34 and earlier */
    /* filter: url("blur.svg#gaussian_blur"); */

    /* Webkit in Chrome 52, Safari 9, Opera 39, and earlier */
    -webkit-filter: blur(0px);
}

h1 {
    text-align: center;
}
